<footer
  class="mx-2 lg:mx-24 flex flex-col md:flex-row border-t border-primary py-3 mt-9 md:justify-between"
>
  <div class="form-wrapper flex flex-col gap-3 md:max-w-[25vw] max-w-full">
    <h4 data-translate="footer-miss">
      Jangan lewatkan penawaran eksklusif, rilis terbaru, dan inspirasi kami
    </h4>
    <form action="mailto:rotanbali58944@gmail.com?body=Message" method="get">
      <div class="flex flex-col">
        <label class="form-label" data-translate="footer-name">Name</label>
        <input
          name="subject"
          type="text"
          class="border-b border-primary focus:outline-none focus:border-blue-500"
          placeholder=""
        />
      </div>
      <div class="flex flex-col pb-3">
        <label class="form-label" data-translate="footer-message"
          >Message</label
        >
        <input
          name="body"
          type="text"
          class="border-b border-primary focus:outline-none focus:border-blue-500"
          placeholder=""
        />
      </div>
      <button
        type="submit"
        class="bg-primary text-white px-3 py-2 rounded-sm"
        data-translate="footer-send"
      >
        Submit <span><i class="fa-solid fa-paper-plane"></i></span>
      </button>
    </form>
  </div>
  <div class="link-wrapper flex flex-col md:flex-row gap-5 pt-4">
    <div class="content flex flex-col gap-2">
      <h4 class="font-bold pb-2" data-translate="footer-help">Bantuan</h4>
      <a href="https://wa.me/+6281339545432">Whatsapp</a>
      <a href="mailto:rotanbali58944@gmail.com">Email</a>
    </div>
    <div class="content flex flex-col gap-2">
      <h4 class="font-bold pb-2" data-translate="footer-about">
        Tentang Rotenbi
      </h4>
      <a href="/about" data-translate="footer-story">Cerita Kami</a>
      <a
        href="https://e-katalog.lkpp.go.id/katalog/produk/detail/78370743?type=regency"
        data-translate="footer-e-catalogue"
        >E-Katalog</a
      >
      <a href="/contact" data-translate="footer-contact">Kontak</a>
    </div>

    <div class="content flex flex-col gap-2">
      <h4 class="font-bold pb-2" data-translate="footer-social-media">
        Social Media
      </h4>
      <a href="https://www.instagram.com/tas_anyaman_berkelanjutan/"
        >Instagram</a
      >
      <a href="https://www.facebook.com/rotanbali589/">Facebook</a>
      <a href="https://youtube.com/@rotenbi?si=XJnCq6MjR-rXBl2D">Youtube</a>
      <a href="https://www.tiktok.com/@rotenbi">Tiktok</a>
    </div>
    <div class="content flex flex-col gap-2">
      <h4 class="font-bold pb-2" data-translate="footer-marketplace">
        Marketplace
      </h4>
      <a href="https://shopee.co.id/rotenbi">Shopee</a>
    </div>
  </div>
  <script src="/scripts/language.js"></script>
</footer>
